<p style="color: green"><%= notice %></p>

<h1>Calendar</h1>

<div id="events">
  <% @events.each do |event| %>
    <div class="col-md-4 mb-4">
      <%= render layout: "shared/event_card", locals: {event: event} do %>
        <%= render "ticket_reservations/form", event: event, ticket_reservation: TicketReservation.new %>
      <% end %>
    </div>
  <% end %>
</div>
