<div data-controller="ticket-reservation"
      data-ticket-reservation-reservation-number="<%= ticket_reservation.reference%>">
  <% if ticket_reservation.enqueued? %>
    <div class="alert alert-info" role="alert">
      Your order is being processed. Don't close the screen
    </div>
  <% elsif ticket_reservation.active? %>
    <div class="alert alert-success" role="alert">
      Your order is ready to be completed.
      Please complete your order before <%= ticket_reservation.valid_until %>.
      <%# in case javascript is disabled %>
      <%= link_to "Complete Order", new_event_order_path(ticket_reservation.event_id), class: "btn btn-primary" %>        
    </div>
  <% end %>
</div>


